.container.mt-4
  .row.justify-content-center
    .col-md-8
      - if @post.errors.any?
        .alert.alert-danger
          %p= t('general.error_occurred')
          %ul
            - @post.errors.full_messages.each do |message|
              %li= message

      = form_with(model: @post, class: 'mt-4') do |f|
        .mb-3
          = f.label :content, class: 'form-label'
          = f.text_area :content, class: 'form-control', rows: 5

        = f.submit t('posts.new_post'), class: 'btn btn-primary'

      = link_to t('posts.back_to_index'), posts_path, class: 'btn btn-secondary mt-4'
